
spring:
  application:
    name: notification-service
  rabbitmq:
    host: localhost  # Local usa localhost, Docker usa 'rabbitmq'
  mail:
    host: smtp.gmail.com
    port: 587
    username: morsegamer@gmail.com
    password: psfbnbmuuhymednj
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
  config:
    import: "optional:configserver:http://localhost:8888"

  cloud:
    config:
      fail-fast: false
      enabled: true

# Configurações locais apenas para desenvolvimento (sobrescrevem Config Server)
server:
  port: 8083

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
